.site-header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 20vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../assets/header-bg.jpg");
}
